################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Tests/.opencppcov/Tests
/Tests/x64/Debug
/CollisionMate/x64/Debug
/CollisionMate/.vs/CollisionMate
*.cpp
*.hpp
*.h
/.vs
